@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


:root{
    --page-color: #720606;
    --ink-color:  #ccc;
    --field-color: #000;
    --form-bg: #030303;
    --err: #ff0000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
font-family: poppins;
}
.container{
    max-width: 100%;
    background-color: var(--page-color);
    margin:0 auto;
    min-height: 100vh;
    padding: 1rem;
}
h2{
    color: var(--ink-color);
}
form{
    width:100%;
    border: 2px solid var(--ink-color);
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--form-bg);
    min-height: 100vh;
}
form > .row + .row{
    margin-top: 1rem;
}
.err{
    color: var(--err);
}

label{
    display: inline-block;
    width: 100px;
    color: var(--ink-color);
}
input{
    width: 100%;
    height: 2rem;
    border-radius: 5px 5px;
    border: none;
    box-shadow:inset 1px 1px 3px var(--ink-color), inset -1px -1px 3px var(--ink-color);
    color: var(--page-color);
    font-size: 1.15rem;
    background-color: var(--ink-color);
    padding-left: 1ch;
    padding-right: 1ch;
}
input:focus{
    outline: none;
    border: 2px solid var(--page-color);
}

.btn{
    margin: 1rem auto 0;
    width: 50%;    
}
input[type=submit]{
    transition: all 0.3s ease;
}
input[type=submit]:hover{
    background-color: var(--page-color);
    color: var(--ink-color);
}

@media screen and (min-width: 768px ){
    .container{
        padding: 3rem;
}
    form{
        max-width: 767.9px;
        min-height: min-content;

    }
    
    
}